<div class="row home">
  <h1 class="mynance">m y n a n c e</h1>
  <h3 class="mynance"> is your personal financial consultant, powered by the most advanced technologies like Ai along
    with
    decades of investment experience. we finally have a trustworthy, intelligent and first class investor who takes care
    about every one. </h3>
  <br>

  <hr>
  <br>

  <h5 class="mynance"> we do it simple, as it should,
    beside many other free will's,
    let's change some stupid things around money,
    once is enough forever.
  </h5>
  <br><br><br>
</div>

<div class="row home">
  <div class="col s4">

    <div class="card">
      <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
      <div class="card-content justify">
        <span class="card-title">money</span>
        <p>What is money and how does it work?
          it's not a piece of paper or a number in your bank, money is a form of energy like electricity which can make
          things happen if being used in right way. money like other kinds
          of energy is a physical phenomenon with clear rules.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>

  </div>

  <div class="col s4">

    <div class="card">
      <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
      <div class="card-content justify">
        <span class="card-title">work</span>
        <p>Real value only comes from good work. Really? What about our interests or our promises? Could money make
          value too? and
          if so then no one will work anymore, isn't it a bad thing? In fact, we have many misconceptions about work and
          value ...</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>

  </div>

  <div class="col s4">

    <div class="card">
      <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
      <div class="card-content justify">
        <span class="card-title">machine</span>
        <p>machines were made to make our lives better and easier, we make better machines every day, but we also get
          more and more
          busy! why this? why do we still have to work for our basic needs?
          are our ideas about machines completely wrong? or...?
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>

  </div>

</div>